<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @ong.cnpj %>
</p>

<p>
  <strong>Razaosocial:</strong>
  <%= @ong.razaosocial %>
</p>

<p>
  <strong>Nomefantasia:</strong>
  <%= @ong.nomefantasia %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @ong.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @ong.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @ong.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @ong.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @ong.uf %>
</p>

<p>
  <strong>Ce:</strong>
  <%= @ong.ce %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ong.email %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @ong.fone %>
</p>

<%= link_to 'Edit', edit_ong_path(@ong) %> |
<%= link_to 'Back', ongs_path %>
